<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryne.qr_device_scanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityQRScanner"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityDeviceInformation"
            android:theme="@style/DeviceInformationTheme" />
        <activity
            android:name=".ActivityInventoryPerRoom"
            android:theme="@style/Inventory" />
        <activity
            android:name=".ActivityWareHouse"
            android:label="@string/title_activity_ware_house"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityInventorySeason"
            android:label="Chọn đợt kiểm kê"
            android:theme="@style/InventorySeason"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityInventoryPerDevice"
            android:label="Nhập thông tin thiết bị"
            android:theme="@style/InventoryPerDevice" />
        <activity android:name=".ActivityHelp"
            android:label="Trợ Giúp"
            android:theme="@style/Help"/>
    </application>

</manifest>